body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Jost', sans-serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Jost', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Jost', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Jost', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #232323 !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #00d207 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #e6c63b !important;
  border-color: #e6c63b !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #b39617 !important;
  border-color: #b39617 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #b39617 !important;
  border-color: #b39617 !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #00d207 !important;
  border-color: #00d207 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #007b04 !important;
  border-color: #007b04 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #007b04 !important;
  border-color: #007b04 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #e6c63b;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #b39617 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #e6c63b !important;
  border-color: #e6c63b !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #00d207;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #007b04 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #00d207 !important;
  border-color: #00d207 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #232323 !important;
}
.text-secondary {
  color: #e6c63b !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #00d207 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #000000 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #a68b15 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #006c04 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #232323;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #00d207;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-gallery-filter li.active .btn {
  background-color: #232323;
  border-color: #232323;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #232323;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #d5d5d5;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #9fffa2;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #232323 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #232323;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #232323;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #232323;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #232323;
  border-bottom-color: #232323;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #232323 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #e6c63b !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23232323' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-ttCg7p6roj {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-ttCg7p6roj nav.navbar {
  position: fixed;
}
.cid-ttCg7p6roj .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-ttCg7p6roj .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-ttCg7p6roj .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-ttCg7p6roj .dropdown-item:hover,
.cid-ttCg7p6roj .dropdown-item:focus {
  background: #232323 !important;
  color: white !important;
}
.cid-ttCg7p6roj .dropdown-item:hover span {
  color: white;
}
.cid-ttCg7p6roj .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-ttCg7p6roj .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-ttCg7p6roj .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-ttCg7p6roj .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-ttCg7p6roj .nav-link {
  position: relative;
}
.cid-ttCg7p6roj .container {
  display: flex;
  margin: auto;
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .cid-ttCg7p6roj .container {
    flex-wrap: wrap;
  }
}
.cid-ttCg7p6roj .container-fluid {
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .cid-ttCg7p6roj .container-fluid {
    flex-wrap: wrap;
  }
}
.cid-ttCg7p6roj .iconfont-wrapper {
  color: #ffe161 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-ttCg7p6roj .dropdown-menu,
.cid-ttCg7p6roj .navbar.opened {
  background: #232323 !important;
}
.cid-ttCg7p6roj .nav-item:focus,
.cid-ttCg7p6roj .nav-link:focus {
  outline: none;
}
.cid-ttCg7p6roj .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-ttCg7p6roj .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-ttCg7p6roj .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-ttCg7p6roj .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-ttCg7p6roj .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-ttCg7p6roj .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-ttCg7p6roj .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #232323;
}
.cid-ttCg7p6roj .navbar.opened {
  transition: all 0.3s;
}
.cid-ttCg7p6roj .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-ttCg7p6roj .navbar .navbar-logo img {
  width: auto;
}
.cid-ttCg7p6roj .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-ttCg7p6roj .navbar.collapsed {
  justify-content: center;
}
.cid-ttCg7p6roj .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-ttCg7p6roj .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-ttCg7p6roj .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-ttCg7p6roj .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-ttCg7p6roj .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-ttCg7p6roj .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-ttCg7p6roj .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-ttCg7p6roj .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-ttCg7p6roj .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-ttCg7p6roj .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-ttCg7p6roj .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-ttCg7p6roj .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-ttCg7p6roj .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-ttCg7p6roj .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-ttCg7p6roj .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-ttCg7p6roj .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-ttCg7p6roj .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-ttCg7p6roj .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-ttCg7p6roj .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
@media (max-width: 991px) and (max-width: 767px) {
  .cid-ttCg7p6roj .navbar .navbar-brand {
    width: calc(100% - 31px);
  }
}
.cid-ttCg7p6roj .navbar.navbar-short {
  min-height: 60px;
}
.cid-ttCg7p6roj .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-ttCg7p6roj .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-ttCg7p6roj .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-ttCg7p6roj .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-ttCg7p6roj .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-ttCg7p6roj .dropdown-item.active,
.cid-ttCg7p6roj .dropdown-item:active {
  background-color: transparent;
}
.cid-ttCg7p6roj .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-ttCg7p6roj .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-ttCg7p6roj .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-ttCg7p6roj .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #232323;
}
.cid-ttCg7p6roj .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-ttCg7p6roj .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-ttCg7p6roj ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-ttCg7p6roj .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-ttCg7p6roj button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-ttCg7p6roj button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffe885;
}
.cid-ttCg7p6roj button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-ttCg7p6roj button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-ttCg7p6roj button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-ttCg7p6roj button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-ttCg7p6roj nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-ttCg7p6roj nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-ttCg7p6roj nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-ttCg7p6roj nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-ttCg7p6roj .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-ttCg7p6roj a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-ttCg7p6roj .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-ttCg7p6roj .navbar {
    height: 70px;
  }
  .cid-ttCg7p6roj .navbar.opened {
    height: auto;
  }
  .cid-ttCg7p6roj .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-ttChNb0KE8 {
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-image: linear-gradient(135deg, #ffe161 10%, #ffe161 100%) !important;
}
.cid-ttChNb0KE8 .mbr-fallback-image.disabled {
  display: none;
}
.cid-ttChNb0KE8 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-ttChNb0KE8 .mbr-text,
.cid-ttChNb0KE8 .mbr-section-btn {
  color: #000000;
}
.cid-ttCmCNpZGF {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: #fafafa;
}
.cid-ttCmCNpZGF .mbr-fallback-image.disabled {
  display: none;
}
.cid-ttCmCNpZGF .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-ttCmCNpZGF .team-card {
  margin-bottom: 2rem;
  transition: all 0.3s;
}
.cid-ttCmCNpZGF .team-card:hover {
  transform: translateY(-10px);
}
.cid-ttCmCNpZGF .card-wrap {
  background: #ffffff;
  border-radius: 4px;
}
@media (max-width: 991px) {
  .cid-ttCmCNpZGF .card-wrap {
    margin-bottom: 2rem;
  }
}
.cid-ttCmCNpZGF .card-wrap .image-wrap img {
  width: 100%;
}
@media (min-width: 768px) {
  .cid-ttCmCNpZGF .card-wrap .content-wrap {
    padding: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-ttCmCNpZGF .card-wrap .content-wrap {
    padding: 1rem;
  }
}
.cid-ttCmCNpZGF .social-row {
  text-align: center;
}
.cid-ttCmCNpZGF .social-row .soc-item {
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin-right: 0.6rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 2px solid #6592e6;
  transition: all 0.3s;
}
.cid-ttCmCNpZGF .social-row .soc-item .mbr-iconfont {
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-content: center;
  color: #6592e6;
  font-size: 1.5rem;
}
.cid-ttCmCNpZGF .social-row .soc-item:hover {
  background-color: #6592e6;
}
.cid-ttCmCNpZGF .social-row .soc-item:hover .mbr-iconfont {
  color: #ffffff;
}
.cid-ttCmCNpZGF .embla__slide {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 410px;
  max-width: 410px;
}
@media (max-width: 768px) {
  .cid-ttCmCNpZGF .embla__slide {
    min-width: 70%;
    max-width: initial;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
}
.cid-ttCmCNpZGF .embla__button--next,
.cid-ttCmCNpZGF .embla__button--prev {
  display: flex;
}
.cid-ttCmCNpZGF .embla__button {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .cid-ttCmCNpZGF .embla__button {
    display: none;
  }
}
.cid-ttCmCNpZGF .embla__button:disabled {
  cursor: default;
  display: none;
}
.cid-ttCmCNpZGF .embla__button:hover {
  background: #000;
  color: rgba(255, 255, 255, 0.5);
}
.cid-ttCmCNpZGF .embla__button.embla__button--prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-ttCmCNpZGF .embla__button.embla__button--next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-ttCmCNpZGF .embla__button {
    top: auto;
  }
}
.cid-ttCmCNpZGF .embla {
  position: relative;
  width: 100%;
}
.cid-ttCmCNpZGF .embla__viewport {
  overflow: hidden;
  width: 100%;
}
.cid-ttCmCNpZGF .embla__viewport.is-draggable {
  cursor: grab;
}
.cid-ttCmCNpZGF .embla__viewport.is-dragging {
  cursor: grabbing;
}
.cid-ttCmCNpZGF .embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.cid-ttCooLUY3N {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: #fafafa;
}
.cid-ttCooLUY3N .mbr-fallback-image.disabled {
  display: none;
}
.cid-ttCooLUY3N .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-ttCooLUY3N .team-card {
  margin-bottom: 2rem;
  transition: all 0.3s;
}
.cid-ttCooLUY3N .team-card:hover {
  transform: translateY(-10px);
}
.cid-ttCooLUY3N .card-wrap {
  background: #ffffff;
  border-radius: 4px;
}
@media (max-width: 991px) {
  .cid-ttCooLUY3N .card-wrap {
    margin-bottom: 2rem;
  }
}
.cid-ttCooLUY3N .card-wrap .image-wrap img {
  width: 100%;
}
@media (min-width: 768px) {
  .cid-ttCooLUY3N .card-wrap .content-wrap {
    padding: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-ttCooLUY3N .card-wrap .content-wrap {
    padding: 1rem;
  }
}
.cid-ttCooLUY3N .social-row {
  text-align: center;
}
.cid-ttCooLUY3N .social-row .soc-item {
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin-right: 0.6rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 2px solid #6592e6;
  transition: all 0.3s;
}
.cid-ttCooLUY3N .social-row .soc-item .mbr-iconfont {
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-content: center;
  color: #6592e6;
  font-size: 1.5rem;
}
.cid-ttCooLUY3N .social-row .soc-item:hover {
  background-color: #6592e6;
}
.cid-ttCooLUY3N .social-row .soc-item:hover .mbr-iconfont {
  color: #ffffff;
}
.cid-ttCooLUY3N .embla__slide {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 410px;
  max-width: 410px;
}
@media (max-width: 768px) {
  .cid-ttCooLUY3N .embla__slide {
    min-width: 70%;
    max-width: initial;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
}
.cid-ttCooLUY3N .embla__button--next,
.cid-ttCooLUY3N .embla__button--prev {
  display: flex;
}
.cid-ttCooLUY3N .embla__button {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .cid-ttCooLUY3N .embla__button {
    display: none;
  }
}
.cid-ttCooLUY3N .embla__button:disabled {
  cursor: default;
  display: none;
}
.cid-ttCooLUY3N .embla__button:hover {
  background: #000;
  color: rgba(255, 255, 255, 0.5);
}
.cid-ttCooLUY3N .embla__button.embla__button--prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-ttCooLUY3N .embla__button.embla__button--next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-ttCooLUY3N .embla__button {
    top: auto;
  }
}
.cid-ttCooLUY3N .embla {
  position: relative;
  width: 100%;
}
.cid-ttCooLUY3N .embla__viewport {
  overflow: hidden;
  width: 100%;
}
.cid-ttCooLUY3N .embla__viewport.is-draggable {
  cursor: grab;
}
.cid-ttCooLUY3N .embla__viewport.is-dragging {
  cursor: grabbing;
}
.cid-ttCooLUY3N .embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.cid-ttCp7cXxWP {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: #fafafa;
}
.cid-ttCp7cXxWP .mbr-fallback-image.disabled {
  display: none;
}
.cid-ttCp7cXxWP .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-ttCp7cXxWP .team-card {
  margin-bottom: 2rem;
  transition: all 0.3s;
}
.cid-ttCp7cXxWP .team-card:hover {
  transform: translateY(-10px);
}
.cid-ttCp7cXxWP .card-wrap {
  background: #ffffff;
  border-radius: 4px;
}
@media (max-width: 991px) {
  .cid-ttCp7cXxWP .card-wrap {
    margin-bottom: 2rem;
  }
}
.cid-ttCp7cXxWP .card-wrap .image-wrap img {
  width: 100%;
}
@media (min-width: 768px) {
  .cid-ttCp7cXxWP .card-wrap .content-wrap {
    padding: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-ttCp7cXxWP .card-wrap .content-wrap {
    padding: 1rem;
  }
}
.cid-ttCp7cXxWP .social-row {
  text-align: center;
}
.cid-ttCp7cXxWP .social-row .soc-item {
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin-right: 0.6rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 2px solid #6592e6;
  transition: all 0.3s;
}
.cid-ttCp7cXxWP .social-row .soc-item .mbr-iconfont {
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-content: center;
  color: #6592e6;
  font-size: 1.5rem;
}
.cid-ttCp7cXxWP .social-row .soc-item:hover {
  background-color: #6592e6;
}
.cid-ttCp7cXxWP .social-row .soc-item:hover .mbr-iconfont {
  color: #ffffff;
}
.cid-ttCp7cXxWP .embla__slide {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 410px;
  max-width: 410px;
}
@media (max-width: 768px) {
  .cid-ttCp7cXxWP .embla__slide {
    min-width: 70%;
    max-width: initial;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
}
.cid-ttCp7cXxWP .embla__button--next,
.cid-ttCp7cXxWP .embla__button--prev {
  display: flex;
}
.cid-ttCp7cXxWP .embla__button {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .cid-ttCp7cXxWP .embla__button {
    display: none;
  }
}
.cid-ttCp7cXxWP .embla__button:disabled {
  cursor: default;
  display: none;
}
.cid-ttCp7cXxWP .embla__button:hover {
  background: #000;
  color: rgba(255, 255, 255, 0.5);
}
.cid-ttCp7cXxWP .embla__button.embla__button--prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-ttCp7cXxWP .embla__button.embla__button--next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-ttCp7cXxWP .embla__button {
    top: auto;
  }
}
.cid-ttCp7cXxWP .embla {
  position: relative;
  width: 100%;
}
.cid-ttCp7cXxWP .embla__viewport {
  overflow: hidden;
  width: 100%;
}
.cid-ttCp7cXxWP .embla__viewport.is-draggable {
  cursor: grab;
}
.cid-ttCp7cXxWP .embla__viewport.is-dragging {
  cursor: grabbing;
}
.cid-ttCp7cXxWP .embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.cid-tuz9F2Vuch {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-image: linear-gradient(135deg, #fafafa 10%, #fafafa 100%) !important;
}
.cid-tuz9F2Vuch .mbr-fallback-image.disabled {
  display: none;
}
.cid-tuz9F2Vuch .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tuz9F2Vuch .mbr-text,
.cid-tuz9F2Vuch .mbr-section-btn {
  color: #ffffff;
}
.cid-tuz9F2Vuch .mbr-section-subtitle {
  color: #e6c63b;
}
.cid-tuza2auP9v {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #434343;
}
.cid-tuza2auP9v .mbr-fallback-image.disabled {
  display: none;
}
.cid-tuza2auP9v .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tuza2auP9v .mbr-section-title {
  color: #e6c63b;
}
.cid-tuzaskivDz {
  padding-top: 0rem;
  padding-bottom: 1rem;
  background-color: #434343;
}
.cid-tuzaskivDz .mbr-fallback-image.disabled {
  display: none;
}
.cid-tuzaskivDz .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tuzaskivDz .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tuzaskivDz .row {
  flex-direction: row-reverse;
}
.cid-tuzaskivDz img {
  width: 100%;
}
.cid-tuzctezmZn {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #434343;
}
.cid-tuzctezmZn .mbr-fallback-image.disabled {
  display: none;
}
.cid-tuzctezmZn .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tuzctezmZn .mbr-text,
.cid-tuzctezmZn .mbr-section-btn {
  color: #000000;
}
.cid-tuAF2sN7IM {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #fafafa;
}
.cid-tuAF2sN7IM .mbr-fallback-image.disabled {
  display: none;
}
.cid-tuAF2sN7IM .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (min-width: 992px) {
  .cid-tuAF2sN7IM .text-wrapper {
    padding: 2rem;
  }
}
.cid-tuAF2sN7IM .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
@media (max-width: 767px) {
  .cid-tuAF2sN7IM .image-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-tuxpH9PG7L {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tuxpH9PG7L .mbr-fallback-image.disabled {
  display: none;
}
.cid-tuxpH9PG7L .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tuxpH9PG7L .mbr-section-subtitle {
  text-align: center;
}
.cid-ttH1WRj7mo {
  padding-top: 0rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .cid-ttH1WRj7mo .carousel {
    min-height: 600px;
  }
  .cid-ttH1WRj7mo .carousel img {
    max-height: 600px;
    object-fit: contain;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-ttH1WRj7mo .carousel {
    min-height: 390px;
  }
  .cid-ttH1WRj7mo .carousel img {
    max-height: 390px;
    object-fit: contain;
  }
}
@media (max-width: 767px) {
  .cid-ttH1WRj7mo .carousel {
    min-height: 330px;
  }
  .cid-ttH1WRj7mo .carousel img {
    max-height: 330px;
    object-fit: contain;
  }
  .cid-ttH1WRj7mo .container .carousel-control {
    margin-bottom: 0;
  }
  .cid-ttH1WRj7mo .content-slider-wrap {
    width: 100% !important;
  }
}
.cid-ttH1WRj7mo .carousel,
.cid-ttH1WRj7mo .carousel-inner {
  display: flex;
  align-items: center;
}
.cid-ttH1WRj7mo .item-wrapper {
  width: 100%;
}
.cid-ttH1WRj7mo .carousel-caption {
  bottom: 40px;
}
.cid-ttH1WRj7mo .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
.cid-ttH1WRj7mo .mobi-mbri-arrow-next {
  margin-left: 5px;
}
.cid-ttH1WRj7mo .mobi-mbri-arrow-prev {
  margin-right: 5px;
}
.cid-ttH1WRj7mo .container .carousel-indicators {
  margin-bottom: 3px;
}
.cid-ttH1WRj7mo .carousel-control {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-ttH1WRj7mo .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-ttH1WRj7mo .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-ttH1WRj7mo .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-ttH1WRj7mo .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 1.5rem !important;
}
.cid-ttH1WRj7mo .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-ttH1WRj7mo .carousel-indicators li.active,
.cid-ttH1WRj7mo .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-ttH1WRj7mo .carousel-indicators li::after,
.cid-ttH1WRj7mo .carousel-indicators li::before {
  content: none;
}
.cid-ttH1WRj7mo .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-ttH1WRj7mo .carousel-indicators {
    display: none !important;
  }
}
.cid-tuxsZwql8B {
  padding-top: 0rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .cid-tuxsZwql8B .carousel {
    min-height: 600px;
  }
  .cid-tuxsZwql8B .carousel img {
    max-height: 600px;
    object-fit: contain;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-tuxsZwql8B .carousel {
    min-height: 390px;
  }
  .cid-tuxsZwql8B .carousel img {
    max-height: 390px;
    object-fit: contain;
  }
}
@media (max-width: 767px) {
  .cid-tuxsZwql8B .carousel {
    min-height: 330px;
  }
  .cid-tuxsZwql8B .carousel img {
    max-height: 330px;
    object-fit: contain;
  }
  .cid-tuxsZwql8B .container .carousel-control {
    margin-bottom: 0;
  }
  .cid-tuxsZwql8B .content-slider-wrap {
    width: 100% !important;
  }
}
.cid-tuxsZwql8B .carousel,
.cid-tuxsZwql8B .carousel-inner {
  display: flex;
  align-items: center;
}
.cid-tuxsZwql8B .item-wrapper {
  width: 100%;
}
.cid-tuxsZwql8B .carousel-caption {
  bottom: 40px;
}
.cid-tuxsZwql8B .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
.cid-tuxsZwql8B .mobi-mbri-arrow-next {
  margin-left: 5px;
}
.cid-tuxsZwql8B .mobi-mbri-arrow-prev {
  margin-right: 5px;
}
.cid-tuxsZwql8B .container .carousel-indicators {
  margin-bottom: 3px;
}
.cid-tuxsZwql8B .carousel-control {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-tuxsZwql8B .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-tuxsZwql8B .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-tuxsZwql8B .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-tuxsZwql8B .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 1.5rem !important;
}
.cid-tuxsZwql8B .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-tuxsZwql8B .carousel-indicators li.active,
.cid-tuxsZwql8B .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-tuxsZwql8B .carousel-indicators li::after,
.cid-tuxsZwql8B .carousel-indicators li::before {
  content: none;
}
.cid-tuxsZwql8B .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-tuxsZwql8B .carousel-indicators {
    display: none !important;
  }
}
.cid-tuzkPquBLE {
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-image: linear-gradient(135deg, #000000 10%, #000000 100%) !important;
}
.cid-tuzkPquBLE .mbr-fallback-image.disabled {
  display: none;
}
.cid-tuzkPquBLE .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tuzkPquBLE .mbr-text,
.cid-tuzkPquBLE .mbr-section-btn {
  color: #ffffff;
}
.cid-tuzkPquBLE .mbr-section-subtitle {
  color: #e6c63b;
}
.cid-tuzjluPJiO {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #000000;
}
.cid-tuzjluPJiO .mbr-fallback-image.disabled {
  display: none;
}
.cid-tuzjluPJiO .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tuzjluPJiO .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tuzjluPJiO .row {
  flex-direction: row-reverse;
}
.cid-tuzjluPJiO img {
  width: 100%;
}
.cid-tuAJkyCRaQ {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tuAJkyCRaQ .mbr-fallback-image.disabled {
  display: none;
}
.cid-tuAJkyCRaQ .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tuAJkyCRaQ .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tuAJkyCRaQ .row {
  flex-direction: row-reverse;
}
.cid-tuAJkyCRaQ img {
  width: 100%;
}
.cid-tuAK4MNtOr {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tuAK4MNtOr .mbr-fallback-image.disabled {
  display: none;
}
.cid-tuAK4MNtOr .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tuAK4MNtOr .mbr-text,
.cid-tuAK4MNtOr .mbr-section-btn {
  color: #000000;
}
.cid-tuAlDX2s2f {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #000000;
}
.cid-tuAlDX2s2f .mbr-fallback-image.disabled {
  display: none;
}
.cid-tuAlDX2s2f .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tuAlDX2s2f .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tuAlDX2s2f .row {
  flex-direction: row-reverse;
}
.cid-tuAlDX2s2f img {
  width: 100%;
}
.cid-tuABRJ8Bbl {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #000000;
}
.cid-tuABRJ8Bbl .mbr-fallback-image.disabled {
  display: none;
}
.cid-tuABRJ8Bbl .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tuABRJ8Bbl .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tuABRJ8Bbl .row {
  flex-direction: row-reverse;
}
.cid-tuABRJ8Bbl img {
  width: 100%;
}
.cid-ttTCcqiZDB {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #fafafa;
}
.cid-ttTCcqiZDB .mbr-fallback-image.disabled {
  display: none;
}
.cid-ttTCcqiZDB .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-ttTCcqiZDB .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-ttTCcqiZDB .row {
  flex-direction: row-reverse;
}
.cid-ttTCcqiZDB img {
  width: 100%;
}
.cid-ttEpLGzzuQ {
  padding-top: 0rem;
  padding-bottom: 1rem;
  background-color: #fafafa;
}
.cid-ttEpLGzzuQ .mbr-fallback-image.disabled {
  display: none;
}
.cid-ttEpLGzzuQ .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-ttEpLGzzuQ .number-wrap {
  color: #555555;
  text-align: center;
}
.cid-ttEpLGzzuQ .number {
  color: #000000;
}
.cid-ttEpLGzzuQ .period {
  display: block;
}
.cid-ttEpLGzzuQ .dot {
  display: none;
}
@media (max-width: 767px) {
  .cid-ttEpLGzzuQ .period {
    font-size: 0.8rem;
  }
}
.cid-ttEpLGzzuQ .btn {
  height: 100%;
  margin: 0;
}
.cid-ttEpLGzzuQ .mbr-section-btn {
  margin-bottom: 1.2rem;
}
.cid-ttEpLGzzuQ .icons-menu .soc-item {
  padding-left: 8px;
  padding-right: 8px;
}
.cid-ttEpLGzzuQ .icons-menu .soc-item .mbr-iconfont {
  font-size: 2rem;
  display: flex;
  border-radius: 50%;
  text-align: center;
  color: #6592e6;
  border: 2px solid #6592e6;
  justify-content: center;
  align-content: center;
  transition: all 0.3s;
}
.cid-ttEpLGzzuQ .icons-menu .soc-item .mbr-iconfont:before {
  padding: 0.6rem;
}
.cid-ttEpLGzzuQ .icons-menu .soc-item .mbr-iconfont:hover {
  background-color: #6592e6;
  color: #ffffff;
}
.cid-ttEpLGzzuQ H3 {
  color: #e6c63b;
}
.cid-ttEpLGzzuQ .mbr-text,
.cid-ttEpLGzzuQ .mbr-section-btn {
  color: #e6c63b;
}
.cid-tuAD4oTwxr {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #434343;
}
.cid-tuAD4oTwxr .mbr-fallback-image.disabled {
  display: none;
}
.cid-tuAD4oTwxr .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tuAD4oTwxr .mbr-section-title {
  color: #e6c63b;
}
.cid-tuAD4oTwxr .mbr-section-subtitle {
  color: #ffffff;
}
.cid-tuACKRn1NK {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #434343;
}
.cid-tuACKRn1NK .mbr-fallback-image.disabled {
  display: none;
}
.cid-tuACKRn1NK .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tuACKRn1NK .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tuACKRn1NK .row {
  flex-direction: row-reverse;
}
.cid-tuACKRn1NK img {
  width: 100%;
}
.cid-tuACTW8vzZ {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #434343;
}
.cid-tuACTW8vzZ .mbr-fallback-image.disabled {
  display: none;
}
.cid-tuACTW8vzZ .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tuACTW8vzZ .mbr-text,
.cid-tuACTW8vzZ .mbr-section-btn {
  color: #000000;
}
.cid-ttEezuldFY {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffe161;
}
.cid-ttEezuldFY .mbr-fallback-image.disabled {
  display: none;
}
.cid-ttEezuldFY .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-ttEezuldFY .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
}
.cid-ttEezuldFY .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-ttEezuldFY .mbr-iconfont {
  padding-left: 1rem;
  font-family: 'Moririse2' !important;
  font-size: 1.4rem !important;
  color: #232323;
}
.cid-ttEezuldFY .panel-body,
.cid-ttEezuldFY .card-header {
  padding: 1rem 0;
}
.cid-ttEezuldFY .panel-title-edit {
  color: #000000;
}
.cid-tuJTgomdNc {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-image: linear-gradient(135deg, #fafafa 10%, #fafafa 100%) !important;
}
.cid-tuJTgomdNc .mbr-fallback-image.disabled {
  display: none;
}
.cid-tuJTgomdNc .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tuJTgomdNc .mbr-text,
.cid-tuJTgomdNc .mbr-section-btn {
  color: #000000;
}
.cid-ttErZzvBlW {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #232323;
  overflow: hidden;
}
